/*validiert*/
/*=============================
CSS für Hunde-Site Ük 101
Autor: Michael Hadorn
Erstelldatum: 12.12.2018
Version:1.0
===============================*/

/*=============================

Inhaltsverzeichnis

1. Textbox
2. Bild

===============================*/



/*=============================
1. Textbox
===============================*/

.Container{
    width: 800px;
    height: 350px;
    background-color: #F1F3F2;
    margin-left: 100px;
    margin-top: 250px;
    text-align: left;
    padding-left:10px;


    
}
.Container p {
    padding-left:20px;
    padding-top:50px;
}
/*=============================
2. Bild
===============================*/
main img{
    background-size: 400px 500px;
    background-repeat: no-repeat;
    border: 10px solid #251B0B;
    width: 400px;
    height: 500px;
    position: absolute;
    border-radius: 15px;
    top: 0px;
    bottom: 0px;
    left: 1100px;
    right: 0px;
    margin: auto;
}
